<% if current_user.isDepartmentAdmin || current_user.isGeneralAdmin %>
<%= form_for(tag) do |f| %>
  <% if tag.errors.any? %>
    <font color="red" size="1">
  <% end %>

 

    <div class="control-group<%= @tag.errors[:tagName].any? ? " error" : "" %>">
      <i class="material-icons login-icons prefix">description</i>
    <%= f.label :tagName,  :class => 'control-label' %>
    <div class="controls">
	    <%= f.text_field :tagName, :class => 'text_field' %>
	    <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
	     <span class="help-inline">
	      <%= @tag.errors[:tagName].any? ? @tag.errors[:tagName].to_s[/\w([^"]*)/] : "" %>
	     </span>
     </div>
  </div>

<% if current_user.isGeneralAdmin %>
    <div class="field">
      <%= f.label :department_id, "Departamento" %>
      <%= f.collection_select :department_id, Department.all, :id, :departmentName %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :department_id, "Departamento"  %>
      <%= f.collection_select :department_id, Department.where(id: current_user.department_id), :id, :departmentName %>
    </div>
  <% end %>
  <div class="actions">
    <%= button_tag( :class => "waves-effect waves-light btn") do %>
      Crear Tag <i class="material-icons right">send</i>
    <% end %>
  </div>
<% end %>
<% else %>
 <div class="title-container">
	<h3>No tiene permisos para esto</h3>
</div>
<% end %>
